<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">

    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/fontawesome.min.css') }}">

    <link rel="stylesheet" href="/static/css/404.css">
    <title>PDFiles | 405</title>
</head>
<body>
    <div class="title">4<span><i class="fa-solid fa-bomb"></i></span>5</div>
    <div class="content" style="font-size: 1.5em;">method not allowed</div>
</body>
</html>