<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100..700&display=swap">

    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/fontawesome.min.css') }}">

    <link rel="stylesheet" href="/static/css/index.css">
    <title>moodify | Home</title>
</head>
<body>
    <h1>Welcome Back</h1><br>
    <h3>ready to get started?</h3>
    <pre><button onclick="window.location.href='/fill-out'">     begin   <i class="fa-solid fa-arrow-right-long"></i>  </button></pre>
</body>
</html>